

label,

header{

}

body{
  Align-items: center;
  Justify-items: center;
}

textarea{
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

li{
  color: rgb(40, 40, 40);
  List-style-type: none;
  background: #cdcdcd;
  margin: 5px;
  padding: 4px;
  width: 256px;
}


button {
    background-color: #baedc8;
    border-top-right-radius: 10;
    margin: auto;
    padding: 0%;
    
    id reset-button;
}



label {
  display: block;
  margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 0;
    padding: 1rem 0 0.75rem 0;
    width: 100%;
    flex-wrap: wrap;
    border-top: 10px solid #fff;
    align-items: center;
    Justify-items: center;
    

}